body {
  background-color: black;
  margin: 1rem;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif; }

a {
  text-decoration: none;
  color: #ffffff; }

header .logo {
  margin-top: 3vh;
  max-width: 100%; }

header .navbar-top {
  margin-top: 3.5vh;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  header .navbar-top .nav-item {
    color: #ffffff;
    transition: all 1.5s; }
    header .navbar-top .nav-item:hover {
      color: #F25D61;
      font-size: 1.5rem; }

main .section-main {
  margin: 1rem;
  margin-left: 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  main .section-main .img-main {
    width: 90vw; }
  main .section-main .text-afterlife {
    color: #ffffff;
    font-size: 1.5rem;
    text-align: justify; }

.main-artists {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh; }
  .main-artists .artist {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 3vh;
    align-items: center;
    justify-content: center; }
    .main-artists .artist .artist_photo {
      width: 50vw;
      height: 60vh;
      filter: grayscale(100%);
      transition: filter 1s; }
      .main-artists .artist .artist_photo:hover {
        filter: none; }
    .main-artists .artist .artist_name {
      margin-top: 1vh;
      color: #a5a5a5;
      font-size: 2rem;
      font-style: italic; }
    .main-artists .artist .artist_info {
      margin-top: 1vh;
      color: #a5a5a5;
      font-size: 1.5rem;
      text-align: justify; }

.main-nextShows {
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 5vh;
  display: grid;
  grid-template-columns: 45vw 45vw;
  justify-content: start; }
  .main-nextShows .show {
    width: 40vw;
    height: 90vh;
    margin: 2vw;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column; }
    .main-nextShows .show .show_photo {
      height: 70vh 70vh; }
    .main-nextShows .show .show_title {
      color: #ffffff;
      margin-top: 1vh;
      text-align: center; }
    .main-nextShows .show .show_description {
      color: #ffffff;
      margin-top: 1vh;
      text-align: justify; }

.main-galery {
  display: grid;
  grid-template-columns: 45vw 45vw;
  row-gap: 5vh;
  column-gap: 2.5vw; }
  .main-galery .video {
    width: 45vw;
    height: 35vh;
    margin-top: 4vh;
    margin-right: 2vw;
    margin-left: 2vw;
    display: flex;
    justify-content: center; }

.main-contact {
  margin: 5rem; }
  .main-contact .contact-form {
    outline-width: 2px;
    display: flex;
    justify-content: center; }
  .main-contact .label-form {
    color: #ffffff;
    width: 90vw;
    margin-top: 3vh; }
  .main-contact .input-form {
    width: 100%;
    margin-bottom: 3vh;
    color: #ffffff; }
  .main-contact .legend-form {
    color: #ffffff;
    margin-bottom: 3vh; }
  .main-contact .form_buttons {
    display: flex;
    justify-content: center; }

footer {
  margin-top: 3vh; }
  footer .nav {
    display: flex;
    justify-content: center; }
    footer .nav .navbar-bottom {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      footer .nav .navbar-bottom .li-footer {
        width: 50%;
        font-size: 1.5rem;
        text-align: center; }
  footer .logo-footer {
    justify-content: center; }
    footer .logo-footer .afterlife_logo_footer {
      width: 100%;
      height: 50vh; }
  footer .p-footer {
    color: #ffffff;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer .p-footer .text_footer {
      text-align: center; }

@media (max-width: 786.01px) {
  footer .nav {
    display: none; }
  footer .logo-footer {
    display: flex;
    justify-content: center; }
    footer .logo-footer .afterlife_logo_footer {
      width: 100%; } }

@media (max-width: 576.01px) {
  header .navbar-top {
    flex-direction: column;
    align-items: center;
    padding: 0px; }
  .section-main .text-afterlife {
    width: 90vw; }
    .section-main .text-afterlife .text {
      font-size: 1rem; }
  .main-artists .artist .artist_name {
    font-size: 1.75rem; }
  .main-artists .artist .artist_info {
    font-size: 1rem; }
  .main-nextShows {
    grid-template-columns: 80vw;
    justify-content: center; }
    .main-nextShows .show {
      width: 80vw;
      margin-left: 0px; }
      .main-nextShows .show .show_photo {
        width: 80vw; }
      .main-nextShows .show .show_description {
        font-size: 0.7rem; }
  .main-galery {
    grid-template-columns: 80vw;
    justify-content: center; }
    .main-galery .video {
      display: flex;
      justify-content: center;
      width: 80vw; }
  iframe {
    width: 80vw; }
  .main-contact {
    margin: 2rem; }
    .main-contact .contact-form {
      margin-left: 5vw;
      width: 75vw;
      display: flex; }
      .main-contact .contact-form .legend-form {
        text-align: center; }
      .main-contact .contact-form .input-form {
        width: 70vw; } }

@media (max-width: 320.01px) {
  body {
    margin: auto; }
  .section-main .text-afterlife .text {
    font-size: 0.8rem; }
  .main-artists .artist .artist_photo {
    height: 30vh; }
  .main-artists .artist .artist_name {
    font-size: 1.5rem; }
  .main-artists .artist .artist_info {
    font-size: 1rem; } }
