<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARTISTS</title>
</head>
<body>
    <header>
        <div>
            <a href="index.html"> <img class="logo" src="../source/" href="logo"> </a>
        </div>
        
        <nav class="navbar-header">
            <ul>
                <li>
                    <a class="element-navbar-top" href="views/artists.html"> ARTISTS </a>
                </li>
                <li>
                    <a class="element-navbar-top" href="views/nextShows.html"> NEXT SHOWS </a>
                </li>
                <li>
                    <a class="element-navbar-top" href="views/galery.html"> GALERY </a>
                </li>
                <li>
                    <a class="element-navbar-top" href="views/contact.html"> CONTACT </a>
                </li>
            </ul>
        </nav>
    </header>
    <footer>
        <div>
            <ul>
                <li>
                    <h2><a href="artists.html"> Artists </a></h2>
                </li>
                <li>
                    <h2><a href="nextShows.html"> Next Shows </a></h2>
                </li>
                <li>
                    <h2><a href="galery.html"> Galery </a></h2>
                </li>
                <li>
                    <h2><a href="contact.html"> Contact </a></h2>
                </li>
            </ul>
        </div>
        <div>
            <a href="../index.html"><img src="../source/afterlife_logo_footer.png" href="afterlife_logo_footer"></a>
        </div>
        <div>
            <p> Thank you for visiting us. See you on our next show.</p>
        </div>
    </footer>   
</body>
</html>