<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/artists-main.css">
    <title>ARTISTS</title>
</head>
<body>
    <header>
        <div>
            <a href="../index.html"> <img class="logo" src="../source/logo.png" href="logo"> </a>
        </div>
        
        <nav class="navbar-header">
            <ul>
                <li>
                    <a class="element-navbar-top" href="artists.html"> ARTISTS </a>
                </li>
                <li>
                    <a class="element-navbar-top" href="nextShows.html"> NEXT SHOWS </a>
                </li>
                <li>
                    <a class="element-navbar-top" href="galery.html"> GALERY </a>
                </li>
                <li>
                    <a class="element-navbar-top" href="contact.html"> CONTACT </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="artist">
            <img class="artist_photo" src="../source/artist_photos/tale_of_us.png" href="tale_of_us">
            <p class="artist_name">TALE OF US</p>
            <p class="artist_info">Tale of Us is an italian duo formed by Matteo Milleri and Carmine Conte. They are Afterlife's founders and nowdays melodich techno's most renowned artist. They played all arround the wolrd in some of the most well known festivals such as Tomorrowland (Belgium), Ultra (US) and Awakenings (Netherlands)</p>
        </div>
        <div class="artist">
            <img class="artist_photo" src="../source/artist_photos/anyma.jpg" href="anyma">
            <p class="artist_name">ANYMA</p>
            <p class="artist_info">AYNMA is Matteo Milleri's (Tale of Us) solo alias. He started using it around May 2021 as an individual project in order to produce music alone and then use it in Tale of Us's shows. In November 2022 he introduced his solo visual show named 'GENESYS' wich includes most of his famous songs such as Etenity, The Sign, Explore Your Future, amongst others.</p>
        </div>
        <div class="artist">
            <img class="artist_photo" src="../source/artist_photos/mrak.jpeg" href="mrak">
            <p class="artist_name">MRAK</p>
            <p class="artist_info">MRAK is Carmine Conte's (Tale of Us) solo alias. As well as his friend ANYMA does, MRAK is Carmines's individual project in order to produce music alone and then use it in Tale of Us's shows. In November 2022 he introduced his solo  show named 'WE DON'T FOLLOW wich includes most of his famous songs such as One, Vacio,Never Ends, amongst others.</p>
        </div>
        <div class="artist">
            <img class="artist_photo" src="../source/artist_photos/adriatique.jpg" href="adriatique">
            <p class="artist_name">ADRIATIQUE</p>
            <p class="artist_info">ADRIATIQUE is a swiss duo Adrian Shala y Adrian Schweizer. The form part of AFTERLIFE since 2019. It's colaborations with artists from other genres such as The Weekend (Moth to a Flame - REMIX) made it's sound unique in the scene.</p>
        </div>
        <div class="artist">
            <img class="artist_photo" src="../source/artist_photos/camelphat.png" href="camelphat">
            <p class="artist_name">CAMELPHAT</p>
            <p class="artist_info">CAMELPHAT in a british duo formed by Dave Whelan y Mike Di Scala. They jumped into the scene in 2004 and in 2017 released their famous track called "Cola". FIDELES and ANYMA made colaborations with them in "Night After Night - FIDELES - CAMELPHAT REMIX" and "The Sign".</p>
        </div>
        <div class="artist">
            <img class="artist_photo" src="../source/artist_photos/colyn.png" href="colyn">
            <p class="artist_name">COLYN</p>
            <p class="artist_info">Ewout Colijn, best known for his alias "COLYN", was born in Netherlands where he started his DJing career. Nowdays he is one of the most famous djs in the wolrd with record breaking tracks such as "Oxygen levels low", "Unstable Gravity Alert" amongst others.</p>
        </div>
        <div class="artist">
            <img  class="artist_photo" src="../source/artist_photos/kevin_de_vries.png" href="kevin_de_vries">
            <p class="artist_name">KEVIN DE VRIES</p>
            <p class="artist_info">Kevin de Vries is a german dj who jumped into fame in 2022 with his most famous song "Dance With Me". Since then he's been in every AFTERLIFE line up being one of the most loved DJs by the crowd. With his german industrial sound he makes everyone dance all night long.</p>
        </div>
        <div class="artist">
            <img src="../source/artist_photos/oostil.jpg" href="oostil">
            <p class="artist_name">ØOSTIL</p>
            <p class="artist_info">Øostil is an Argentinian DJ who jumped into fame in 2022 after an incredible performance as a warm up for Tale Of Us in Buenos Aires. He released some awesome tracks with world class DJs such as MASSANO in "Drown".</p>
        </div>
    </main>
    <footer class="container-footer">
        <div class="navbar-footer">
            <ul>
                <li class="li-footer">
                    <h2><a href="artists.html"> Artists </a></h2>
                </li>
                <li class="li-footer">
                    <h2> <a href="nextShows.html"> Next Shows </a></h2>
                </li>
                <li class="li-footer">
                    <h2> <a href="galery.html"> Galery </a></h2>
                </li>
                <li class="li-footer">
                    <h2><a href="contact.html"> Contact </a></h2>
                </li>
            </ul>
        </div>

        <div class="logo-footer">
            <a href="../index.html"><img src="../source/afterlife_logo_footer.png" href="afterlife_logo_footer"></a>
        </div>
        <div class="p-footer">
            <p> Thank you for visiting us.</p>
            <p> See you on our next show. </p> 
        </div>
    </footer>     
</body>
</html>