<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/artists-main.css">
    <title>ARTISTS</title>
</head>
<body>
    <header>
        <div>
            <a href="../index.html"> <img class="logo" src="../source/logo.png" href="logo"> </a>
        </div>
        
        <nav class="navbar-header">
            <ul>
                <li>
                    <a class="element-navbar-top" href="artists.html"> ARTISTS </a>
                </li>
                <li>
                    <a class="element-navbar-top" href="nextShows.html"> NEXT SHOWS </a>
                </li>
                <li>
                    <a class="element-navbar-top" href="galery.html"> GALERY </a>
                </li>
                <li>
                    <a class="element-navbar-top" href="contact.html"> CONTACT </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="artist">
            <img src="../source/artist_photos/tale_of_us.png" href="tale_of_us">
            <p class="artist_name">TALE OF US</p>
            <p>Tale of Us is an italian duo formed by Matteo Milleri and Carmine Conte. They are Afterlife's founders and nowdays melodich techno's most renowned artist. They played all arround the wolrd in some of the most </p>
        </div>
    </main>
    <footer class="container-footer">
        <div class="navbar-footer">
            <ul>
                <li class="li-footer">
                    <h2><a href="artists.html"> Artists </a></h2>
                </li>
                <li class="li-footer">
                    <h2> <a href="nextShows.html"> Next Shows </a></h2>
                </li>
                <li class="li-footer">
                    <h2> <a href="galery.html"> Galery </a></h2>
                </li>
                <li class="li-footer">
                    <h2><a href="contact.html"> Contact </a></h2>
                </li>
            </ul>
        </div>

        <div class="logo-footer">
            <a href="../index.html"><img src="../source/afterlife_logo_footer.png" href="afterlife_logo_footer"></a>
        </div>
        <div class="p-footer">
            <p> Thank you for visiting us.</p>
            <p> See you on our next show. </p> 
        </div>
    </footer>     
</body>
</html>