<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    
    <link rel="shortcut icon" href="../source/favicon.jpg">
    <title>GALERY</title>
</head>
<body>
    <header>
        <div>
            <a href="../index.html"> <img class="logo" src="../source/logo.png" href="logo"> </a>
        </div>
        
        <nav class="navbar">
            <ul>
                <li>
                    <a class="element-navbar-top" href="artists.html"> ARTISTS </a>
                </li>
                <li>
                    <a class="element-navbar-top" href="nextShows.html"> NEXT SHOWS </a>
                </li>
                <li>
                    <a class="element-navbar-top" href="galery.html"> GALERY </a>
                </li>
                <li>
                    <a class="element-navbar-top" href="contact.html"> CONTACT </a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main-galery">
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/vHVJJ7oBIQA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bNRE6aGxO6w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Y6o2HmKFCUw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/THnm60-jrrk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nMVbfoteKdY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kYhKc7nsHGc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </main>
    <footer class="container-footer">
        <div class="navbar">
            <ul>
                <li class="li-footer">
                    <a href="artists.html"> Artists </a>
                </li>
                <li class="li-footer">
                     <a href="nextShows.html"> Next Shows </a>
                </li>
                <li class="li-footer">
                     <a href="galery.html"> Galery </a>
                </li>
                <li class="li-footer">
                    <a href="contact.html"> Contact </a>
                </li>
            </ul>
        </div>
        <div class="logo-footer">
            <a href="../index.html"><img src="../source/afterlife_logo_footer.png" href="afterlife_logo_footer"></a>
        </div>
        <div class="p-footer">
            <p class="text_footer"> Thank you for visiting us.</p>
            <p class="text_footer"> See you on our next show. </p> 
        </div>
    </footer>
</body>
</html>