<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/nextShows.css">
    <title>NEXT SHOWS</title>
</head>
<body>
    <header>
        <div>
            <a href="../index.html"> <img class="logo" src="../source/logo.png" href="logo"> </a>
        </div>
        
        <nav class="navbar-header">
            <ul>
                <li>
                    <a class="element-navbar-top" href="artists.html"> ARTISTS </a>
                </li>
                <li>
                    <a class="element-navbar-top" href="nextShows.html"> NEXT SHOWS </a>
                </li>
                <li>
                    <a class="element-navbar-top" href="galery.html"> GALERY </a>
                </li>
                <li>
                    <a class="element-navbar-top" href="contact.html"> CONTACT </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="show">
            <img class= "show_photo" src="../source/shows/MEDELLIN.jpg" href="MEDELLIN">
            <p class="show_title">MEDELLIN - 13th MAY 2023</p>
            <p class="show_description"> Hosted in Cincuentenario Stadium in Medellin, Colombia, the show will have the presence of Layla Benitez, Sasha Carassi, Woo York (Live Performance), Agents of Time, CamelPhat and Tale Of Us. Also will have the special performance of ANYMA presenting his new visual show 'GENESYS'.</p>
        </div>
        <div class="show">
            <img class= "show_photo" src="../source/shows/BARCELONA.jpg" href="BARCELONA">
            <p class="show_title">BARCELONA - 16th JUNE 2023</p>
            <p class="show_description"> Hosted in Parc del Forum in Barcelona, Spain, the show will have two stages. On AUDITORIUM will be playing UBBAH, Stylo,Hunter/Game, Agents of Time, Kevin de Vries B2B Konstantin Sibold and Chris Avantgarde. Meanwhile in AMPHITHEATRUM will be playing 8KAYS, Cassian, Fideles, Stephan Bodzin (Live Performance), Mind Against and Tale Of Us.</p>
        </div>
        <div class="show">
            <img class= "show_photo" src="../source/shows/KFF.jpg" href="KFF">
            <p class="show_title">KAPPA FUTUR FESTIVAL - 30th JUNE 2023</p>
            <p class="show_description"> Hosted in Torino, Italy, the show will have the presence of ANNA,Kevin de Vries, Massano, Mind Against, Sasha Carassi, Stephan Bodzin (Live Performance) and Tale of Us.</p>
        </div>
        <div class="show">
            <img class= "show_photo" src="../source/shows/TOMORROWLAND.jpg" href="TOMORROWLAND">
            <p class="show_title">TOMORROWLAND - 22nd JULY 2023</p>
            <p class="show_description"> In one of the most famous electronic music festivals around the world we will count with an AFTERLIFE stage. The line up is yet to be anounced so stay close because big news are coming.</p>
        </div>
        <div class="show">
            <img class= "show_photo" src="../source/shows/orange.png" href="ORANGE">
            <p class="show_title">ORANGE - 26th AUGUST 2023</p>
            <p class="show_description"> Hosted in the legendary Théâtre Antique d'Orange in Orange, France, the show will have the presence of ANNA,Kevin de Vries, Massano, Mind Against, Sasha Carassi, Stephan Bodzin (Live Performance) and Tale of Us.</p>
        </div>
    </main>
    <footer class="container-footer">
        <div class="navbar-footer">
            <ul>
                <li class="li-footer">
                    <h2><a href="artists.html"> Artists </a></h2>
                </li>
                <li class="li-footer">
                    <h2> <a href="nextShows.html"> Next Shows </a></h2>
                </li>
                <li class="li-footer">
                    <h2> <a href="galery.html"> Galery </a></h2>
                </li>
                <li class="li-footer">
                    <h2><a href="contact.html"> Contact </a></h2>
                </li>
            </ul>
        </div>

        <div class="logo-footer">
            <a href="../index.html"><img src="../source/afterlife_logo_footer.png" href="afterlife_logo_footer"></a>
        </div>
        <div class="p-footer">
            <p> Thank you for visiting us.</p>
            <p> See you on our next show. </p> 
        </div>
    </footer>
</body>
</html>