<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/nextShows.css">
    <title>NEXT SHOWS</title>
</head>
<body>
    <header>
        <div>
            <a href="../index.html"> <img class="logo" src="../source/logo.png" href="logo"> </a>
        </div>
        
        <nav class="navbar-header">
            <ul>
                <li>
                    <a class="element-navbar-top" href="artists.html"> ARTISTS </a>
                </li>
                <li>
                    <a class="element-navbar-top" href="nextShows.html"> NEXT SHOWS </a>
                </li>
                <li>
                    <a class="element-navbar-top" href="galery.html"> GALERY </a>
                </li>
                <li>
                    <a class="element-navbar-top" href="contact.html"> CONTACT </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="show">
            <img class= "show_photo" src="../source/shows/MEDELLIN.jpg" href="MEDELLIN">
            <p class="show_title">MEDELLIN - 13th MAY 2023</p>
            <p class="show_description"> Hosted in Cincuentenario Stadium in Medellin, Colombia, the show will ahve the presence of Layla Benitez, Sasha Carassi, Woo York (Live Performance), Agents of Time, CamelPhat and Tale Of Us. Also will have the special performance of ANYMA presenting his new visual show 'GENESYS'.</p>
        </div>
    </main>
    <footer class="container-footer">
        <div class="navbar-footer">
            <ul>
                <li class="li-footer">
                    <h2><a href="artists.html"> Artists </a></h2>
                </li>
                <li class="li-footer">
                    <h2> <a href="nextShows.html"> Next Shows </a></h2>
                </li>
                <li class="li-footer">
                    <h2> <a href="galery.html"> Galery </a></h2>
                </li>
                <li class="li-footer">
                    <h2><a href="contact.html"> Contact </a></h2>
                </li>
            </ul>
        </div>

        <div class="logo-footer">
            <a href="../index.html"><img src="../source/afterlife_logo_footer.png" href="afterlife_logo_footer"></a>
        </div>
        <div class="p-footer">
            <p> Thank you for visiting us.</p>
            <p> See you on our next show. </p> 
        </div>
    </footer>
</body>
</html>