<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Afterlife is an electronic music label created by Italian Dj's Tale of Us. Enter this magical world of music and parties.">
    <meta name="keywords" content="AFTERLIFE, MELODIC, TECHNO, TALE OF US, ADRIATIQUE, ANYMA, MRAK, KEVIN DE VRIES, CAMELPHAT, COLYN, TOMORROWLAND, ULTRA">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../source/favicon.jpg">
    <title>GALERY</title>
</head>
<body>
    <header class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <a href="../index.html"> <img class="logo" src="../source/logo.png" alt="logo"> </a>
            </div>
            <div class="col-sm-12 col-md-8">
                <ul class="navbar-top">
                    <li class="nav-item">
                        <a class="nav-link" href="../views/artists.html"> ARTISTS </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/nextShows.html"> NEXT SHOWS </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/galery.html"> GALERY </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/contact.html"> CONTACT </a>
                    </li>
                </ul>    
            </div>
        </div>    
    </header>
    <main class="main-galery">
        <div class="video">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/vHVJJ7oBIQA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/bNRE6aGxO6w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Y6o2HmKFCUw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/THnm60-jrrk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/nMVbfoteKdY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="video">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/kYhKc7nsHGc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="nav col-sm-12 col-md-4">
                    <ul class="navbar-bottom">
                        <li class="li-footer">
                            <a href="../views/artists.html"> Artists </a>
                        </li>
                        <li class="li-footer">
                            <a href="../views/nextShows.html"> Next Shows </a>
                        </li>
                        <li class="li-footer">
                            <a href="../views/galery.html"> Galery </a>
                        </li>
                        <li class="li-footer">
                            <a href="../views/contact.html"> Contact </a>
                        </li>
                    </ul>
                </div>
                <div class="logo-footer col-sm-12 col-md-4">
                    <a href="../index.html"><img class="afterlife_logo_footer" src="../source/afterlife_logo_footer.png" alt="afterlife_logo_footer"></a>
                </div>
                <div class="p-footer col-sm-12 col-md-4">
                    <p class="text_footer"> Thank you for visiting us.</p>
                    <p class="text_footer"> See you on our next show. </p> 
                </div>
            </div>
        </div>
    </footer>    
</body>
</html>