<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Afterlife is an electronic music label created by Italian Dj's Tale of Us. Enter this magical world of music and parties.">
    <meta name="keywords" content="AFTERLIFE, MELODIC, TECHNO, TALE OF US, ADRIATIQUE, ANYMA, MRAK, KEVIN DE VRIES, CAMELPHAT, COLYN, TOMORROWLAND, ULTRA">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../source/favicon.jpg">
    <title>NEXT SHOWS</title>
</head>
<body>
    <header class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <a href="../index.html"> <img class="logo" src="../source/logo.png" alt="logo"> </a>
            </div>
            <div class="col-sm-12 col-md-8">
                <ul class="navbar-top">
                    <li class="nav-item">
                        <a class="nav-link" href="../views/artists.html"> ARTISTS </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/nextShows.html"> NEXT SHOWS </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/galery.html"> GALERY </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/contact.html"> CONTACT </a>
                    </li>
                </ul>    
            </div>
        </div>    
    </header>
    <main class="main-nextShows">
        <div class="show">
            <img class= "show_photo" src="../source/shows/MEDELLIN.jpg" alt="MEDELLIN">
            <p class="show_title">MEDELLIN - 13th MAY 2023</p>
            <p class="show_description"> Hosted in Cincuentenario Stadium in Medellin, Colombia, the show will have the presence of Sasha Carassi, Agents of Time, CamelPhat and Tale Of Us. Also will have the special performance of ANYMA presenting his new visual show 'GENESYS'.</p>
        </div>
        <div class="show">
            <img class= "show_photo" src="../source/shows/BARCELONA.jpg" alt="BARCELONA">
            <p class="show_title">BARCELONA - 16th JUNE 2023</p>
            <p class="show_description"> Hosted in Parc del Forum in Barcelona, Spain, the show will have two stages. Some artists that will be playing are Agents of Time, Kevin de Vries, Cassian, Fideles, Stephan Bodzin (Live), Mind Against and Tale Of Us.</p>
        </div>
        <div class="show">
            <img class= "show_photo" src="../source/shows/KFF.jpg" alt="KFF">
            <p class="show_title">KAPPA FUTUR FESTIVAL - 30th JUNE 2023</p>
            <p class="show_description"> Hosted in Torino, Italy, the show will have the presence of ANNA,Kevin de Vries, Massano, Mind Against, Sasha Carassi, Stephan Bodzin (Live) and Tale of Us.</p>
        </div>
        <div class="show">
            <img class= "show_photo" src="../source/shows/TOMORROWLAND.jpg" alt="TOMORROWLAND">
            <p class="show_title">TOMORROWLAND - 22nd JULY 2023</p>
            <p class="show_description"> In one of the most famous electronic music festivals around the world we will count with an AFTERLIFE stage. The line up is yet to be anounced so stay close because big news are coming.</p>
        </div>
        <div class="show">
            <img class= "show_photo" src="../source/shows/orange.png" alt="ORANGE">
            <p class="show_title">ORANGE - 26th AUGUST 2023</p>
            <p class="show_description"> Hosted in the legendary Théâtre Antique d'Orange in Orange, France we will make you have the night of your life. The line up is yet to be anounced so stay close because big news are coming. </p>
        </div>
        <div class="show">
            <img class= "show_photo" src="../source/shows/NEW_YORK.jpg" alt="NEW_YORK">
            <p class="show_title">NEW YORK - 8th, 9th and 10th SEPTEMBER 2023</p>
            <p class="show_description"> Hosted in the The Brooklin Mirage in Brooklin, New York, USA we will make you have the night of your life with one of the most amusing visuals we've ever presented. The line up is yet to be anounced so stay close because big news are coming. </p>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="nav col-sm-12 col-md-4">
                    <ul class="navbar-bottom">
                        <li class="li-footer">
                            <a href="../views/artists.html"> Artists </a>
                        </li>
                        <li class="li-footer">
                            <a href="../views/nextShows.html"> Next Shows </a>
                        </li>
                        <li class="li-footer">
                            <a href="../views/galery.html"> Galery </a>
                        </li>
                        <li class="li-footer">
                            <a href="../views/contact.html"> Contact </a>
                        </li>
                    </ul>
                </div>
                <div class="logo-footer col-sm-12 col-md-4">
                    <a href="../index.html"><img class="afterlife_logo_footer" src="../source/afterlife_logo_footer.png" alt="afterlife_logo_footer"></a>
                </div>
                <div class="p-footer col-sm-12 col-md-4">
                    <p class="text_footer"> Thank you for visiting us.</p>
                    <p class="text_footer"> See you on our next show. </p> 
                </div>
            </div>
        </div>
    </footer>    
</body>
</html>