main{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    
}
.artist{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 3vh;
    align-items: center;
    justify-content: center;
}
.artist_photo{
    width: 600px;
    height: 600px;
    filter: grayscale(100%);
}
.artist_name{
    margin-top: 1vh;
    font-size: 40px;
    font-style: italic;
}
.artist_info