*{
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    font-size: 45px;
    margin-top: 30px;
    vertical-align: center;
}


a{
    text-decoration: none;
    color: white;
    font: bold;

}
