main{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3vh;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
}
.video{
    width: 45vw;
    margin
    display: flex;
    justify-content: center;
}
