main{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3vh;
}
.show{
    width: 45vw;
    margin: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.show_photo{
    height: 80vh;
}
.show_title{
    margin-top: 1vh;
    justi-content: center;
}
.show_description{
    margin-top: 1vh;
}