main{
    display: flex;
    flex-wrap: wrap;
    margin
}
.show{
    width: 45vw;
    margin: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.show_photo{
    height: 80vh;
}