*{
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    
}
a{
    text-decoration: none;
    color: white;
    font: bold;
}

header div{
    width: 95vw;
    margin: 5vh 
    .logo{
        width: 100%;
    }
}