*{
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: white;
    
}
p{
    color: white;
    font-size: 1em;
    text-align: justify;
}
header div{
    width: 95vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    .logo{
        width: 100%;
        margin-left: 3vw;
    }
}
header{
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        .element-navbar-top{
            font-size: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
main{
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .section-main{
        display: flex;
        flex-flow: column;
        .img-main{
            width: 100vw;
            text-align: center;
        }
        .text-afterlife{
            margin: 2vh;
            width: 95vw;
        }
    }
}
.main-artists{
    margin-left: 5vw;
    margin-right: 5vw;
    .artist{
        display: flex;
        flex-direction: column;
        margin-left: 2vw;
        margin-right: 2vw;
        margin-bottom: 3vh;
        align-items: center;
        justify-content: center;
        .artist_photo{
            width: 90vw;
            height: 50vh;
            filter: grayscale(100%);
        }
        .artist_name{
            margin-top: 1vh;
            font-size: 1.5rem;
            font-style: italic;
        }
        .artist_info{
            margin-top: 1vh;
            font-size: 1rem;            ;
        }
    }
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .navbar{
        display: none;
    }
    .logo-footer{
        display: flex;
        justify-content: center;
        .afterlife_logo_footer{
            width: 80vw;
            height: 50vh;
        }
    }
    .p-footer{
        .text_footer{
            display: flex;
            justify-content: center;
        }
        
    }
}

@media (min-width: 1024px) {
    header div{
        width: 35vw;
        position: relative;
    }
    header ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style-type: none;
        width: 60vw;
        
    }
    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .logo{
            margin-left: 1vw;
            position: absolute;
            margin-top: 4vh;
            width: 100%;
        }
        .navbar{
            display: flex;
            flex-direction: row;
            margin-right: 2vw;
            margin-top: 9vh;
            width: 60vw;
            justify-content: space-between;
            .element-navbar-top{
                font-size: 1.7rem;
            }
        }
    }
    .main-artists{
        
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3vh;
        margin-left: 2vw;
        margin-right: 2vw;
        .navbar{
            width: 32vw;
            display: flex;
            flex-wrap: wrap;
            justify-content:center;
            align-items: center;
            .li-footer{
                width: 50%;
                text-align: center;
                margin-top: 2vh;
                margin-bottom: 2vh;
                font-size: 2em;
            }
        };
        .logo-footer{
            width: 32vw;
            justify-content: center;
            position: relative;
            .afterlife_logo_footer{
                width: auto;
                height: auto;
                
            }
        }
        
        .p-footer{
            
            margin-top: 24vh;
            width: 33%;
            font-size: 1.5rem;
            .text_footer{
                align-items: center;
                
            }
        }
        
    }
}

