*{
    background-color: #26252B;
    margin: 0px;
    padding: 0px;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    font-size: 45px;
    margin-top: 30px;
    vertical-align: center;
}


a{
    text-decoration: none;
    color: white;
    font: bold;

}
p{
    color: white;
    font: sans-serif;
    font-size: 30px;
    text-align: justify;
}
header{
    display: flex;
    flex-wrap: wrap;
}
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    margin-top: 10px;
    width: 40v;
    }
.img-main{
    min-width: 1200px;
}
.navbar-footer{
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}
.afterlife_logo_footer{
    width: 33%;
}
.p-footer{
    width: 33%;
}
.li-footer{
    
    width: 50%;
    justify-content: center;
    align-items: center
}